#form-error-msg{
	border-color: #DF251F;
	background-color: #DF251F;
	color: white;
}

.custom-index-buttons{
    font-size: 20px;
    font-weight: bolder;
    /*width: 15%;*/
}

.custom-login-buttons{
    font-size: 20px;
    font-weight: bolder;
}

.custom-type-img{
    height: auto;
    width: 50px;
    display: inline;
    margin-bottom: 0px;
}

.custom-type-buttons{
    font-size: 20px;
    font-weight: bolder;
    width: 80%;    
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #808080;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #808080;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #808080;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #808080;
}

.wrapper input[type="text"] {
    position: relative; 
}

.admin_form > select {
    width: 80%;
}

.admin_form > input[type="number"] {
    width: 80%;
}

.admin_form > input[type="text"] {
    width: 80%;
}

.admin_form > textarea{
  width: 80%;
  font-family: FontAwesome;
}

input { font-family: 'FontAwesome'; } /* This is for the placeholder */

.wrapper:before {
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}

.question-header{
  text-align: left;
  color: #2C3E50;
  margin-left: 35px;
  margin-right: 35px;
}

.description-paragraph{
  font-size: 18px;
  text-align:justify;
  font-weight: bolder;
}

@media screen and  (max-width: 767px){
  .list{
    margin-top: 10px;
  }
  .custom-question-buttons{
    font-size: 20px;
    font-weight: bolder;
    width: 80%;
    height: 65px;
  }
  .description-row{
    margin-top: -50px;
  }
}

@media screen and  (min-width: 768px){
  .list{
    margin-top: 20px;
  }
  .custom-question-buttons{
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    height: 90px;
  }
  .description-row{
    margin-top: -100px;
  }
}

.custom-question-buttons > span{
  white-space: normal;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-20px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(20px, 0, 0);
  }
}

.errorMessage{
  -webkit-animation: shake 5s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation: shake 3s;
  animation-direction: alternate;
}

.editType{
  width: 80%;
}

.paragraph-justify{
  text-align: justify;
}
ul{
  list-style-position: inside;
}

.news{
  padding-left: 0px;
  overflow:auto;
  height:150px;
}