#form-error-msg{
	border-color: #DF251F;
	background-color: #DF251F;
	color: white;
}

.custom-index-buttons{
    font-size: 20px;
    font-weight: bolder;
    /*width: 15%;*/
}

.custom-login-buttons{
    font-size: 20px;
    font-weight: bolder;
}

.custom-type-img{
    height: auto;
    width: 50px;
    display: inline;
    margin-bottom: 0px;
}

.custom-type-buttons{
    font-size: 20px;
    font-weight: bolder;
    width: 80%;    
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #808080;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #808080;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #808080;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #808080;
}

.wrapper input[type="text"] {
    position: relative; 
}

select {
    width: 80%;
}

input[type="number"] {
    width: 80%;
}

textarea{
  width: 80%;
  font-family: FontAwesome;
}

input { font-family: 'FontAwesome'; } /* This is for the placeholder */

.wrapper:before {
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}

.question-header{
  text-align: left;
  color: #2C3E50;
  margin-left: 35px;
  margin-right: 35px;
}

.description-paragraph{
  font-size: 18px;
  text-align:justify;
  font-weight: bolder;
}